html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body, #wrap {height: 100%;}
html{
  background:#fff;
  background:url("/img/bg-body2.png") repeat-x fixed left -879px #FFFFFF;
}

body > #wrap {height: auto; min-height: 100%;}
body{
  color:#333333;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  font-size:small;
}
/*main layout*/
#main {/*padding-bottom: 205px; */background-color:#fff; width:100%; margin:0 auto;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -205px; /* negative value of footer height */
  height: 205px;
  background:transparent url(/img/bg_fans.png) repeat-x scroll left bottom;
  clear:both;} 

/* CLEAR FIX*/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* stop commented backslash hack */

/* main layout */
.jqpageflow-loader {
  position: fixed;
  display: none; 
  left: 50%; 
  z-index: 10001; 
  bottom: 150px;
}
.mk_relative{ position:relative; }
.fixed{ position:fixed; }
.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index:100;
}
#wrap, #footer-wrapper{margin:0 auto;}
#wrap{
  width:1000px;
  border:1px solid #cccccc;
  border-top:none;
  -webkit-box-shadow: 0px -3px 10px 4px rgba(51, 51, 51, 0.7);
  -moz-box-shadow: 0px -3px 10px 4px rgba(51, 51, 51, 0.7);
  box-shadow: 0px -3px 10px 4px rgba(51, 51, 51, 0.7);
  /*background:transparent url(/img/bg_shadow.jpg) repeat top left;*/
}
#footer-wrapper{width:1000px;}
/*end of main layout*/
/*text sizes and colors*/
a, a:link, a:active, a:visited{color:#3F3F3F; text-decoration:none;}
a:focus {outline:0 none;}
a:hover {color:#007EC4 !important;}
h2{font-size:1.5em; font-weight:500;}
h1{font-size:1.7em;}
h3{font-size:1.3em;}
.title{color:#A00E0E;}
.twelve{font-size:12px;}
.round{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius:5px;
  border-radius: 5px;
}
.border{border:1px solid #ccc;}
.text_center{text-align:center;}
.bk_grad{background:transparent url(/img/bg_content_02.png) repeat-x scroll left bottom;}
.thirds{width:33%;}
.half{width:50%;}
.twentyfive{width:25%;}
.border_box{
  border:1px solid #ccc;
}
.col_lt{float:left;}
.col_rt{float:right;}
a img, .a:link img, .a:visited img {
  box-shadow:1px 1px 10px #bcbcbc;
  -moz-box-shadow:1px 1px 10px #bcbcbc;
  -webkit-box-shadow:1px 1px 10px #bcbcbc;
  border:1px solid #CCCCCC;
  padding:1px;
}

#content{
  width:680px;
  padding-bottom:20px;
}
#sidebar{
  width:315px;
  margin-right:5px;
}
#sidebar .inner{width:300px;}
#sidebar h2{margin:15px 0 1px 5px;}
#sidebar .featured_artist_img {
  margin:5px 5px 0;
  text-align:left;
}
#sidebar a.aritist-name, #sidebar a.venue-name {
  font-size:1.3em;
  padding:5px;
}
#featured-venue .border{
  padding-top:5px;
}
#featured-venue ul li.shows {
  border-bottom:1px solid #CCCCCC;
  color:#0187C5;
  margin-top:5px;
}
#sidebar #featured-venue ul {
  font-size:85%;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0 5px;
}
#sidebar li {margin:3px 0;}
#sidebar ul li.last {
  margin:10px 0;
  text-align:right;
}
.inner{
  width:95%;
  margin:0 auto;
}
#header{
  width:100%;
  height:106px;
  margin:0 auto;
}
#header-main {
  background:transparent url(/img/redheaderbig.png) no-repeat scroll 0 -16px;
  height:70px;
  width:inherit;
}
#header-main a{
  display:block;
  width:241px;
  height:45px;
  text-indent:-10000em;
  position:relative;
  top:10px;
  left:11px;
}

#header-nav {
  background:transparent url(/img/redheaderbig.png) no-repeat scroll 0 -95px;
  height:36px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  width:inherit;
}
#header-nav li{
  height:36px;
}
#header-nav a{
  background:transparent url(/img/redheaderbig.png) no-repeat scroll 0 -95px;
  text-indent:-10000em;
  display:block;
  height:36px;
}
#header-nav a#tourvolume-home, #header-nav a#tourvolume-artists, #header-nav a#tourvolume-concerts{
  width:91px;
}
#header-nav a#tourvolume-home{
  background-position:0px -95px;
}
#header-nav a#tourvolume-artists{
  background-position:-91px -95px;
}
#header-nav a#tourvolume-concerts{
  background-position:-181px -95px;
}
#header-nav a#tourvolume-home:hover{
  background-position:0px -134px;
}
#header-nav a#tourvolume-artists:hover{
  background-position:-91px -134px;
}
#header-nav a#tourvolume-concerts:hover{
  background-position:-181px -134px;
}

.accent, .accent a, .accent a:link, .accent a:visited,
.accent a:active, a.accent, a.accent:link, a.accent.active, a.accent.visited {
  color:#007EC4 !important;
}
a.accent:hover, .accent a:hover {
  color:#5FCBF3 !important;
  text-decoration:none;
}
/**show list**/
.concert_wrapper{
  padding:5px 0;
}
.calView {
  font-size:100%;
  margin-left:3px;
  width:35px;
}
.calView .cal_head {
  background:transparent url(/img/bg-body.png) repeat-x scroll left -53px;
  color:#FFFFFF;
  font-size:70%;
  font-weight:bold;
  padding:2px 0 2px 2px;
}
.calView .cal_body {
  background-color:#FFFFFF;
  border-bottom:1px solid #CCCCCC;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  color:#333333;
  font-size:100%;
  font-weight:bold;
  padding:5px 0;
  text-align:center;
}
a.artist_img{
  display:block;
}
.artist_img{
  margin-left:5px;
  text-align:left;
}
.concert_info{
  margin-left:5px;
  text-align:left;
  width:315px;
}
.concert_info a.artist-name{
  font-size:1.4em;
}
.concert_info p a:hover {
  color:#007EC4 !important;
  text-decoration:none;
}
.concert_info p a:link, .concert_info p a:visited,
.concert_info p a:active {
  color:#666666;
}
.concert_info a, #sidebar #featured-artist a{
  display:block;
  text-decoration:none;
}
.concert_info p {
  color:#666666;
  font-size:.9em;
}
.spacer {
  padding:5px 0;
}
.col_show {
  width:103px;
}
.bg_date {
  /*background:transparent url(/img/bg-body.png) repeat-x scroll left -53px;*/
  color:#FFFFFF;
  padding:5px 0 6px 10px;
  background: #aa1010;
  background: -moz-linear-gradient(top,  #aa1010 0%, #660000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa1010), color-stop(100%,#660000));
  background: -webkit-linear-gradient(top,  #aa1010 0%,#660000 100%);
  background: -o-linear-gradient(top,  #aa1010 0%,#660000 100%);
  background: -ms-linear-gradient(top,  #aa1010 0%,#660000 100%);
  background: linear-gradient(top,  #aa1010 0%,#660000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1010', endColorstr='#660000',GradientType=0 );

}
.odd_background {
  border:1px solid #CCCCCC;
  border-top:none;
}
.even_background {
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  background-color:#EEEEF0;
}
/**end show list**/
/* featured items */
.actionwrapper{
  width:70%;
  margin:0 auto;
}
.col_featured{width:49%;}
.col_show a.action-link, .col_featured a.action-link {
  display:block;
  font-size:11px;
  margin:3px 0 0 0;
  padding-bottom:2px;
  padding-left:23px;
  padding-top:2px;
}

/*date search*/

table.calendar .calendar-month {
  font-size:110%;
  margin-top:3px;
  text-align:center;
}
table.calendar th {
color:#0482C7;
text-align:center;
}
table.calendar{
  width:65%;
  margin:0 auto;
}
table.calendar th {
font-size:7pt;
height:10px;
}
table.calendar td {
font-size:9pt;
height:19px;
width:19px;
}

table.calendar td.today{background-color:#ccc;}

table.calendar td, th {
border:0 none;
text-align:center;
}
#nearby-cities a{
  display:block;
}
#nearby-cities .thirds{
  padding:5px 0;
}
#nearby-cities .border, #date-search .border, #featured-artist .border{
  padding:5px 0;
}
#tourvolume-iphone .border{
  padding:10px 0;
}
#tourvolume-iphone img{
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  border:none;
  margin-left:10px;
}
#tourvolume-iphone h3, #tourvolume-iphone p{
  width:160px;
  margin-right:10px;
}
#tourvolume-iphone .iphone{

}
#header_search {
  /*background-color:#690A0A;*/
  /*border:1px solid #A00E0E;*/
  width:500px;
  margin:15px 15px 0 0;
}
#header_search input.search{
  padding:.25em;
  width:70%;
  font-size:1.1em;
}
.ac_results strong{
  font-weight:bold;
}